<a href="https://colab.research.google.com/github/sunny7016/Aiml/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [2]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [7]:
import pandas as pd

In [6]:
a=np.array([1,2,3,4])
b=np.array([2,3,4,2])
c=a+b
print(c)
c.sort()
print(c)

<IntegerArray>
[3, 5, 7, 6]
Length: 4, dtype: Int64

AttributeError: 'IntegerArray' object has no attribute 'sort'

In [8]:
df = pd.read_excel('EDA Cars-1.xlsx')

In [9]:
df.head()

,INDEX,INCOME,MARITAL STATUS,SEX,EDUCATION,JOB,TRAVEL TIME,USE,MILES CLOCKED,CAR TYPE,CAR AGE,CITY,POSTAL CODE
0,1,125301.24250,No,F,Bachelors,Blue Collar,45.703013,Commercial,17430.0,Sports Car,7.0,Texas,42420.0
1,2,50815.44531,No,M,High School,NaN,20.591628,Private,18930.0,Minivan,1.0,Texas,42420.0
2,3,62977.82416,NaN,F,Bachelors,Clerical,33.639949,Private,NaN,SUV,1.0,Texas,42420.0
3,4,77099.96624,No,F,NaN,Lawyer,15.415676,NaN,18300.0,Sports Car,11.0,Texas,42420.0
4,5,130794.57420,No,M,High School,NaN,NaN,Commercial,28340.0,Panel Truck,10.0,Texas,42420.0

In [10]:
df.tail()

,INDEX,INCOME,MARITAL STATUS,SEX,EDUCATION,JOB,TRAVEL TIME,USE,MILES CLOCKED,CAR TYPE,CAR AGE,CITY,POSTAL CODE
298,285,15251.52473,No,M,High School,Clerical,31.315058,Private,3030.0,Sports Car,1.0,Las Vegas,44412.0
299,286,18408.39545,No,M,High School,Clerical,42.619118,Private,7440.0,NaN,1.0,Las Vegas,NaN
300,287,NaN,No,M,High School,Clerical,36.533624,Private,7660.0,SUV,NaN,Las Vegas,44412.0
301,288,NaN,Yes,F,High School,NaN,60.884292,Private,19550.0,Van,1.0,Las Vegas,44412.0
302,289,0.00000,No,M,Bachelors,Student,11.657483,Commercial,19940.0,SUV,7.0,Las Vegas,44412.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   INDEX           303 non-null    int64
 1   INCOME          260 non-null    float64
 2   MARITAL STATUS  275 non-null    object
 3   SEX             297 non-null    object
 4   EDUCATION       259 non-null    object
 5   JOB             257 non-null    object
 6   TRAVEL TIME     262 non-null    float64
 7   USE             250 non-null    object
 8   MILES CLOCKED   278 non-null    float64
 9   CAR TYPE        293 non-null    object
 10  CAR AGE         283 non-null    float64
 11  CITY            297 non-null    object
 12  POSTAL CODE     300 non-null    float64
dtypes: float64(5), int64(1), object(7)
memory usage: 30.9+ KB

In [12]:
df.describe()

,INDEX,INCOME,TRAVEL TIME,MILES CLOCKED,CAR AGE,POSTAL CODE
count,303.000000,260.000000,262.000000,278.000000,283.000000,300.000000
mean,139.640264,50025.162170,34.282098,13591.978417,6.265018,50712.196667
std,85.178422,41186.807914,14.910178,7167.328655,5.111218,24141.029290
min,1.000000,0.000000,5.000000,1500.000000,1.000000,11435.000000
25%,62.500000,20452.885023,24.449874,7900.000000,1.000000,42420.000000
50%,138.000000,44571.590870,33.564757,12065.000000,6.000000,47150.000000
75%,213.500000,66485.761387,43.907339,18240.000000,10.000000,61701.000000
max,289.000000,204667.589700,83.617643,38000.000000,20.000000,90049.000000

In [13]:
df['TRAVEL TIME'].fillna(df['TRAVEL TIME'].median(), inplace=True)

In [14]:
high_income = df[df['INCOME'] > 10000]
print(high_income)

     INDEX        INCOME MARITAL STATUS  SEX    EDUCATION          JOB  \
0        1  125301.24250             No    F    Bachelors  Blue Collar
1        2   50815.44531             No    M  High School          NaN
2        3   62977.82416            NaN    F    Bachelors     Clerical
3        4   77099.96624             No    F          NaN       Lawyer
4        5  130794.57420             No    M  High School          NaN
..     ...           ...            ...  ...          ...          ...
294    281  114546.70950             No  NaN      Masters          NaN
295    282   52626.24977             No    F    Bachelors     Clerical
296    283  116869.50120             No    F      Masters      Manager
298    285   15251.52473             No    M  High School     Clerical
299    286   18408.39545             No    M  High School     Clerical

     TRAVEL TIME         USE  MILES CLOCKED     CAR TYPE  CAR AGE       CITY  \
0      45.703013  Commercial        17430.0   Sports Car      7.0      Texas
1      20.591628     Private        18930.0      Minivan      1.0      Texas
2      33.639949     Private            NaN          SUV      1.0      Texas
3      15.415676         NaN        18300.0   Sports Car     11.0      Texas
4      33.564757  Commercial        28340.0  Panel Truck     10.0      Texas
..           ...         ...            ...          ...      ...        ...
294    28.827493  Commercial        23760.0  Panel Truck      8.0  Las Vegas
295    33.564757     Private        10300.0       Pickup      NaN  Las Vegas
296    38.133775     Private        11940.0          SUV      4.0  Las Vegas
298    31.315058     Private         3030.0   Sports Car      1.0  Las Vegas
299    42.619118     Private         7440.0          NaN      1.0  Las Vegas

     POSTAL CODE
0        42420.0
1        42420.0
2        42420.0
3        42420.0
4        42420.0
..           ...
294      44412.0
295      44412.0
296      44412.0
298      44412.0
299          NaN

[219 rows x 13 columns]

In [15]:
married_high_income = df[(df['INCOME'] > 100000) & (df['MARITAL STATUS'] == 'Yes')]
print(married_high_income)

     INDEX       INCOME MARITAL STATUS SEX  EDUCATION          JOB  \
32      33  110386.4044            Yes   M    Masters          NaN
67      68  109957.3023            Yes   F    Masters          NaN
162    149  204372.9551            Yes   M        NaN          NaN
165    152  155409.6551            Yes   M  Bachelors      Manager
199    186  176848.9483            Yes   F  Bachelors  Blue Collar
243    230  152059.8036            Yes   F        PhD      Manager
249    236  148442.6402            Yes   F    Masters       Lawyer
254    241  204667.5897            Yes   F    Masters          NaN

     TRAVEL TIME         USE  MILES CLOCKED     CAR TYPE  CAR AGE  \
32     21.159540  Commercial        16640.0          Van     14.0
67     49.818815         NaN        29470.0   Sports Car     18.0
162    33.564757  Commercial         5100.0       Pickup     20.0
165    40.126603  Commercial        33330.0  Panel Truck     10.0
199    37.103735  Commercial        26470.0          SUV      4.0
243    34.468723     Private        33380.0          NaN      NaN
249    40.119420     Private        18500.0   Sports Car     11.0
254    31.515561  Commercial        21970.0          Van      NaN

              CITY  POSTAL CODE
32     Los Angeles      90049.0
67   New York City      12180.0
162        Houston      61701.0
165        Seattle      78207.0
199        Seattle      78207.0
243     Washington      11435.0
249     Washington      11435.0
254            NaN      11435.0

In [16]:
high_income = df[df['INCOME'] > 10000]
print(high_income)

     INDEX        INCOME MARITAL STATUS  SEX    EDUCATION          JOB  \
0        1  125301.24250             No    F    Bachelors  Blue Collar
1        2   50815.44531             No    M  High School          NaN
2        3   62977.82416            NaN    F    Bachelors     Clerical
3        4   77099.96624             No    F          NaN       Lawyer
4        5  130794.57420             No    M  High School          NaN
..     ...           ...            ...  ...          ...          ...
294    281  114546.70950             No  NaN      Masters          NaN
295    282   52626.24977             No    F    Bachelors     Clerical
296    283  116869.50120             No    F      Masters      Manager
298    285   15251.52473             No    M  High School     Clerical
299    286   18408.39545             No    M  High School     Clerical

     TRAVEL TIME         USE  MILES CLOCKED     CAR TYPE  CAR AGE       CITY  \
0      45.703013  Commercial        17430.0   Sports Car      7.0      Texas
1      20.591628     Private        18930.0      Minivan      1.0      Texas
2      33.639949     Private            NaN          SUV      1.0      Texas
3      15.415676         NaN        18300.0   Sports Car     11.0      Texas
4      33.564757  Commercial        28340.0  Panel Truck     10.0      Texas
..           ...         ...            ...          ...      ...        ...
294    28.827493  Commercial        23760.0  Panel Truck      8.0  Las Vegas
295    33.564757     Private        10300.0       Pickup      NaN  Las Vegas
296    38.133775     Private        11940.0          SUV      4.0  Las Vegas
298    31.315058     Private         3030.0   Sports Car      1.0  Las Vegas
299    42.619118     Private         7440.0          NaN      1.0  Las Vegas

     POSTAL CODE
0        42420.0
1        42420.0
2        42420.0
3        42420.0
4        42420.0
..           ...
294      44412.0
295      44412.0
296      44412.0
298      44412.0
299          NaN

[219 rows x 13 columns]

In [17]:
#creating a dictionary
dict = {'name' : ['Akul','Akshat','Aman','Aditya','Drizzle','Sunny','Shivam','Yash'],
        'age': [21,20,21,21,21,21,21,20],}
#craeting dataframe from data
df = pd.DataFrame(dict,columns = ['name','age'])

#print dataframe
print(df.to_markdown())

|    | name    |   age |
|---:|:--------|------:|
|  0 | Akul    |    21 |
|  1 | Akshat  |    20 |
|  2 | Aman    |    21 |
|  3 | Aditya  |    21 |
|  4 | Drizzle |    21 |
|  5 | Sunny   |    21 |
|  6 | Shivam  |    21 |
|  7 | Yash    |    20 |